label {
  cursor: pointer;
}

textarea {
  width: 200px;
  height: 150px;
  word-break: break-all;
}

#enter{
  position:absolute;
  left:380px;
  top:40px;
  max-width:300px;
  word-wrap: break-word;
}
#search{
  position:relative;
  left:880px;
  top:-50px;
  max-width:200px;
  word-wrap: break-word;
}
